body {
	padding-top: 70px; /* support for navbar-fixed-top */
	padding-bottom : 18px; /* support for navbar-fixed-bottom - 18px is support for 32px high navbar...*/
}

.tnav .navbar .container { 
	height: 28px; 
}

.violation-panel {
	margin-bottom : 15px;
}

.violation-heading {
	padding-top: 5px;
	padding-bottom : 1px;
}

.violation-body {
	padding-top : 1px;
	padding-bottom : 1px;
}

.hs_navbar-brand {
  padding: 10.5px 15px 10.5px;
}

div.dBar {
	font-size: 15pt;
}

.input-group .psrDateEntry {
	width:190px;
}