/*!
 * bootswatch v3.3.2
 * Homepage: http://healthspace.com
 * Copyright 2015 HealthSpace Informatics, Inc
 * Licensed under Apache 2.0
 * Addresss issues with bootstrap modal dialogs and bootswatch thems. 
*/

.modal-backdrop.in {
	opacity : 0.3;
}
.modal-backdrop {
	z-index:1040;
}

.modal {
	z-index :1050;
}