
body {
	background: none repeat scroll 0% 0% white; 
	color: black;
	padding-top:1px;
	padding-bottom:1px;
}

.debugHeader {
	masrgin-top:24px;
	text-align:center;
	background-color:rgb(254,255,206)
}

.printPanel {
	width:98%;
	padding-left:5.0px;
	padding-right:5.0px;
	margin-left:5.0px;
}

.printBorders {
	border-color:rgb(0,0,0);
	border-style:solid;
	border-width:thin;
}

.printTable {
	font-size:10pt;
	font-family:Arial,Verdana,Helvetica,sans-serif;
	width:100.0%;
	margin-top:10px;
	border-color:rgb(0,0,0);
	border-style:solid;
	border-width:thin;
}

.printTable td {
	background-color: #fff;
	color:#000;
	border-color:#aaa;
	border-style:solid;
	border-width:0px 0px 1px 1px;
	padding-left:4px;
	padding-right:4px;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
	color : #000;
}

.printLabelRow td {
	font-size:8pt;
	font-family:Arial;
	border-color:#aaa;
	border-style:solid;
	border-width:0px 0px 1px 1px;
	padding-left:4px;	
}

h3.printSectionTitle {
	margin-top: 4px;
	margin-bottom: 4px;
	font-size: 11pt;
	font-weight: strong;
	line-height: 1.2em;	
}
.inspectionHeader {
	margin-top:5px;
	text-align:center;
}
.inspectionHeaderLeft {
	float:left;
	text-align:left;
	font-family:Arial,Verdana,Helvetica,sans-serif;
	font-size:8pt;
	line-height : 1.5em;
}
.inspectionHeaderCenter {
	display:inline;
}
.inspectionHeaderLogo {
	padding:10px;		
}
.inspectionHeaderRight {
	float:right;
	text-align:right;
	font-family:Arial,Verdana,Helvetica,sans-serif;
	font-size:8pt;
	line-height : 1.5em;
}

td.printFormActionsCell {
	background-color: #0000FF;
	background-image: url(hsmenubg1.png?OpenImageResource);
	background-repeat:repeat-x;
	border-color: rgb(0,0,160);
	border-style: solid;
	border-width: thin;
	margin: 5.0px 0px;
	padding: 10.0px;
}

@media print{
	.printActions{
		display:none;
	}
}