<?xml version="1.0" encoding="UTF-8"?>
<note xmlns="http://www.lotus.com/dxl" class="form">
  <item name="$Comment" sign="true">
    <text/>
  </item>
  <item name="$HTMLCode" sign="true">
    <rawitemdata type="1">
X/8QAAIADwAHAAAAAAAAAA==
</rawitemdata>
  </item>
  <item name="$TITLE">
    <text>outline</text>
  </item>
  <item name="$Info" sign="true">
    <rawitemdata type="1">
hhgBAIAAAAAAgAAAAQABAP///wAQAAAA
</rawitemdata>
  </item>
  <item name="$Flags">
    <text>C34WQ</text>
  </item>
  <item name="$Body" sign="true">
    <rawitemdata type="1">
gQKC/1oAAQAAAAAAAAAAAKAFAACgBQAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
AAAAAAAAAAABAAAAAJSHAAAAAAAAAAAAAAAAAQAAAAQAAACDBAEAhf8IAAEAAArdBgAArf+p/xYA
AQAYAAQACgAKAAAACACcAAMAhf8IAAEBAAqqAt4GAACuAIX/CAABAAAKgQKDBAEAhf8IAAEAAArd
BgAArf+p/0oAAQAYAAQAPgA+AAAALgABAAgAU2VydmVyOiACAAYAAAAAAAAAiwAAAAAAAAAAAPA/
IAK0AiICAwAHAA4ABwAJMVMyUzZTAIX/CAABAAAIqgLeBgAArgCF/wgAAQAACoECgwQBAIX/CAAB
AAAKyf8QAAQAAABkAGkA/////4X/CAABAAAK3QYAAK3/cf8nAAAAAAADABYABQAAAAAAAAAAAAAA
AAAAAAAAAAAAAG1haW4AAK3/EQAbAAgAAAAFAG1haW4AAOr/PgAbAAikAADgEP4BAQAACgAAAAAA
AAAAAQAACgEAAAoAAAUA////AAEAAAAAAAAAAAAAAAAAAAAAAAAA7P8OASACAgAAAAAAAAAAAAAA
AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAIAEAAAAAAAABAAAKAQAACgEAAAoBAAAKAQAACgEAAAoA
AAAAAAAAACABIAEAAAAAAAAFAP///wAFAP///wAFAP///wAFAP///wAFAP///wAFAP///wAFAP//
/wAFAP///wAFAP///wAFAP///wABAAAAAAABAAAAAAABAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
AAAAAAAAAAAAAAAAAAAAAAAAAAAAAQAAAAAAAQAAAAAAAQAAAAAAAQAAAAAAAQAAAAAAAQAAAAAA
AAANAAAAAAAAAAAAAAAAAAAAAAAAAAAArgLeBgAArgCF/wgAAQAACg==
</rawitemdata>
  </item>
</note>